{% extends 'users/base.html' %}
{% block content %}
    <div class="auth-header">
        <h1>Welcome to Spotify</h1>
        <p>Log in or create an account to start your music journey.</p>
    </div>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="role" id="role" value="">
        <div class="user-type-selection">
            {{ form.role.errors }}
            {% for value, label in form.role.field.choices %}
                <button type="button" class="user-type-btn" onclick="selectUserType('{{ value }}')"
                        id="{{ value }}-btn">
                    {{ label }}
                </button>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.username.errors }}
            <label for="register-username">{{ form.username.label }}</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.email.errors }}
            <label for="register-email">{{ form.email.label }}</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            {{ form.password1.errors }}
            <label for="register-password1">{{ form.password1.label }}</label>
            {{ form.password1 }}
        </div>
        <div class="form-group">
            {{ form.password2.errors }}
            <label for="register-password2">{{ form.password2.label }}</label>
            {{ form.password2 }}
        </div>
        <div id="artist-fields" class="artist-fields">
            <div class="form-group">
                {{ form.bio.errors }}
                <label for="artist-bio">{{ form.bio.label }}</label>
                {{ form.bio }}
            </div>
        </div>

        <button type="submit" class="submit-btn">Sign Up</button>
        <div class="toggle-link">
            Already have an account? <a href="{% url 'users:login' %}">Log in here</a>.
        </div>
    </form>

    <script>
        let selectedUserType = 'User';

        function selectUserType(type) {
            document.getElementById('role').value = type
            selectedUserType = type;
            const buttons = document.querySelectorAll('.user-type-btn');
            buttons.forEach(btn => btn.classList.remove('selected'));

            const selectedBtn = document.getElementById(`${type}-btn`);
            if (selectedBtn) {
                selectedBtn.classList.add('selected');
            }

            const artistFields = document.getElementById('artist-fields');
            if (artistFields) {
                if (type === 'artist') {
                    artistFields.classList.add('show');
                } else {
                    artistFields.classList.remove('show');
                }
            }
        }

        selectUserType('listener');
    </script>
{% endblock %}